$color-primary-darkblue-05: #091b6f;
$color-primary-darkblue-04: #0d28a6;
$color-primary-darkblue-03: #5e70c4;
$color-primary-darkblue-02: #aeb7e1;
$color-primary-darkblue-01: #cfd4ed;

$color-background-01: #f1f3ff;

$color-secondary-greenlime-05: #3d7b3f;
$color-secondary-greenlime-04: #5cb85f;
$color-secondary-greenlime-03: #92d094;
$color-secondary-greenlime-02: #c9e7ca;
$color-secondary-greenlime-01: #def1df;

$color-alert-danger: #fa2c5a;
$color-alert-warning: #f9cc00;
$color-alert-danger: #73ca5c;

$color-black: #000;
$color-white: #fff;

$color-grey-03: #3c3c3c;
$color-grey-02: #8a8a8a;
$color-grey-01: #d0d0d0;

// FONT-SIZE
$text-body-base: 0.625rem;
$text-body-md: 0.75rem;
$text-body-lg: 0.875rem;

$text-title-base: 1rem;
$text-title-lg: 1.125rem;

$text-heading-base: 1.25rem;
$text-heading-lg: 1.5rem;
