@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue-05: #091b6f;
  --dark-blue-04: #0d28a6;
  --dark-blue-03: #5e70c4;
  --dark-blue-02: #aeb7e1;
  --dark-blue-01: #cfd4ed;
  --dark-blue-00: #f1f3ff;

  --lime-green-05: #3d7b3f;
  --lime-green-04: #5cb85f;
  --lime-green-03: #92d094;
  --lime-green-02: #c9e7ca;
  --lime-green-01: #def1df;

  --neutral-05: #000;
  --neutral-04: #3c3c3c;
  --neutral-03: #8a8a8a;
  --neutral-02: #d0d0d0;
  --neutral-01: #fff;

  --alert-danger: #fa2c5a;
  --alert-warning: #f9cc00;
  --alert-success: #73ca5c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Arial", "Helvetica", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.bg-danger {
  background-color: var(--alert-danger);
}

.bg-warning {
  background-color: var(--alert-warning);
}

.bg-success {
  background-color: var(--alert-success);
}

.bg-dark-blue-05 {
  background-color: var(--dark-blue-05);
}

.bg-dark-blue-04 {
  background-color: var(--dark-blue-04);
}

.bg-dark-blue-03 {
  background-color: var(--dark-blue-03);
}

.bg-dark-blue-02 {
  background-color: var(--dark-blue-02);
}

.bg-dark-blue-01 {
  background-color: var(--dark-blue-01);
}

.bg-dark-blue-00 {
  background-color: var(--dark-blue-00);
}

.bg-lime-green-05 {
  background-color: var(--lime-green-05);
}

.bg-lime-green-04 {
  background-color: var(--lime-green-04);
}

.bg-lime-green-03 {
  background-color: var(--lime-green-03);
}

.bg-lime-green-02 {
  background-color: var(--lime-green-02);
}

.bg-lime-green-01 {
  background-color: var(--lime-green-01);
}

.bg-neutral-05 {
  background-color: var(--neutral-05);
}

.bg-neutral-04 {
  background-color: var(--neutral-04);
}

.bg-neutral-03 {
  background-color: var(--neutral-03);
}

.bg-neutral-02 {
  background-color: var(--neutral-02);
}

.bg-neutral-01 {
  background-color: var(--neutral-01);
}

.text-danger {
  color: var(--alert-danger);
}

.text-warning {
  color: var(--alert-warning);
}

.text-success {
  color: var(--alert-success);
}

.text-dark-blue-05 {
  color: var(--dark-blue-05);
}

.text-dark-blue-04 {
  color: var(--dark-blue-04);
}

.text-dark-blue-03 {
  color: var(--dark-blue-03);
}

.text-dark-blue-02 {
  color: var(--dark-blue-02);
}

.text-dark-blue-01 {
  color: var(--dark-blue-01);
}

.text-dark-blue-00 {
  color: var(--dark-blue-00);
}

.text-lime-green-05 {
  color: var(--lime-green-05);
}

.text-lime-green-04 {
  color: var(--lime-green-04);
}

.text-lime-green-03 {
  color: var(--lime-green-03);
}

.text-lime-green-02 {
  color: var(--lime-green-02);
}

.text-lime-green-01 {
  color: var(--lime-green-01);
}

.text-neutral-05 {
  color: var(--neutral-05);
}

.text-neutral-04 {
  color: var(--neutral-04);
}

.text-neutral-03 {
  color: var(--neutral-03);
}

.text-neutral-02 {
  color: var(--neutral-02);
}

.text-neutral-01 {
  color: var(--neutral-01);
}
